body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: system-ui;
  font-size: 1.25em;
  line-height: 1.5;
}

header {
  margin-left: 1em;
}

nav {
  margin: .5em 1em;
  border-bottom: 3px solid rgba(10,10,10,0.1);
  line-height: 2;
  max-width: 600px;
}

nav a {
  display: inline-block;
  padding: 0 2em;
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  background-color: #f4f4f4;
}

nav a.live {
  border-bottom: 3px solid #198e53;
}

article {
  flex-grow: 1;
  padding: 1em 15%;
  overflow-y: scroll;
  margin: 0 14pt;
}

article h1, article img {
  text-align: center;
}

article blockquote {
  border-left: 5px solid #eee;
  padding-left: 1em;
  margin-left: 0;
  color: #444;
}

a {
    color: #198e53;
    text-decoration: none;
 }

a:hover {
    color: #363636;
}

code, p.codez {
  font-family: "Menlo", monospace;
  font-size: .875em;
}

.codez {
  background-color: #333;
  padding: 0.75em;
  color: white;
  overflow: scroll;
}

p.codez {
  white-space: pre;
}

.codez strong {
  color: #dda790
}

.codez em {
  color: #26d980
}

tr:hover {
    background-color: #f5f5f5;
}

td, th {
    border: 1px solid #dbdbdb;
    padding: .5em .75em;
    vertical-align: top;
}

td {
  border-width: 0 0 1px;
}

th {
  width: 30%;
  color: #363636;
  text-align: left;
  border-width: 0 0 2px;
}

th:first-of-type {
  width: 20%;
}

th:last-of-type {
  width: 50%;
}

.math {
  font-family: "Times";
}

.radical {
    /*font-size: 1.25em;*/
    /*position: relative;*/
    /*top: -.0625em;*/
}

.radicand {
  border-top: .046875em solid;
  margin-left: .0625em;
}

.codez .radical {
  font-size: 1em;
}

sup {
  font-size: .625em;
}

.fraction {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: .6875em;
  line-height: 1.25;
  top: -.1875em;
  position: relative;
}

.radicand .fraction {
  font-size: .375em;
}

p {
  line-height: 1.75;
}

.numerator {
  border-bottom: .09375em solid;
  display: block;
}

@media screen and (max-width: 1200px) {
  body { font-size: 1.125em; }
  article { padding: 1em 10%; }
}

@media screen and (max-width: 1024px) {
  body { font-size: 1em; }
  article { padding: 1em 5%; }
}

@media screen and (max-width: 900px) {
  body { font-size: 1em; }
  article {
    padding: 1em 0;
    text-align: left;
  }

  article pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
  }

  article img {
    max-width: 100%;
    height: auto;
  }
}
